<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
  <bean class="org.springframework.context.support.ReloadableResourceBundleMessageSource" id="messageSource">
    <property name="basenames">
      <array>
        <value>WEB-INF/i18n/messages</value>
      </array>
    </property>
    <property name="cacheSeconds" value="0"/>
    <property name="defaultEncoding" value="UTF-8"/>
    <property name="fallbackToSystemLocale" value="false"/>
  </bean>

  <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver" id="viewResolver">
    <property name="characterEncoding" value="UTF-8"/>
    <property name="templateEngine">
      <bean class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="dialects">
          <set>
            <bean class="org.thymeleaf.spring4.dialect.SpringStandardDialect"/>
          </set>
        </property>
        <property name="templateResolvers">
          <set>
            <bean class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
              <property name="cacheable" value="false"/>
              <property name="prefix" value="/page/"/>
              <property name="suffix" value=".html"/>
              <property name="templateMode" value="HTML5"/>
            </bean>
          </set>
        </property>
      </bean>
    </property>
  </bean>

  <context:annotation-config/>
  <context:component-scan base-package="org.example.web"/>

  <mvc:annotation-driven/>
</beans>
