<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:transaction="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource">
      <bean class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <property name="autoCommit" value="false"/>
        <property name="connectionTimeout" value="3000"/>
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="jdbcUrl" value="jdbc:h2:mem:stackoverflow"/>
        <property name="maximumPoolSize" value="5"/>
        <property name="minimumIdle" value="1"/>
        <property name="password" value=""/>
        <property name="transactionIsolation" value="TRANSACTION_READ_COMMITTED"/>
        <property name="username" value="sa"/>
        <property name="validationTimeout" value="2000"/>
      </bean>
    </property>
    <property name="jpaProperties">
      <props>
        <prop key="hibernate.format_sql">true</prop>
        <prop key="hibernate.id.new_generator_mappings">false</prop>
      </props>
    </property>
    <property name="jpaVendorAdapter">
      <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="databasePlatform" value="org.hibernate.dialect.H2Dialect"/>
        <property name="generateDdl" value="true"/>
        <property name="showSql" value="true"/>
      </bean>
    </property>
    <property name="packagesToScan" value="org.example.domain"/>
  </bean>


  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory"/>
  </bean>

  <context:annotation-config/>
  <context:component-scan base-package="org.example"/>

  <jpa:repositories base-package="org.example.data"/>

  <transaction:annotation-driven/>
</beans>
