<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title>signup</title>
    <link rel="icon" type="image/png" th:href="@{/img/icon.png}" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
  </head>
  <body>
    <!-- page content -->
    <form class="signup" method="post" th:action="@{/cadastro}">
    	<label th:utext="#{login}"></label>
    	<input type="text" name="login" th:placeholder="#{login}"/>
    	
    	<label th:utext="#{senha}"></label>
    	<input type="password" name="senha" th:placeholder="#{senha}"/>
    	
    	<label th:utext="#{nome}"></label>
    	<input type="text" name="nome" th:placeholder="#{nome}"/>
    	
    	<label th:utext="#{sobrenome}"></label>
    	<input type="text" name="sobrenome" th:placeholder="#{sobrenome}"/>
    	
    	<label th:utext="#{email}"></label>
    	<input type="text" name="email" th:placeholder="#{email}"/>
    	
    	<button type="submit" th:utext="#{cadastro}"></button>
    </form>
    <script th:src="@{/js/script.js}"></script>
  </body>
</html>
